<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main Page</title>
  <link rel="stylesheet" href="./styles/main.css">
  <link rel="stylesheet" href="./styles/header.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
  <script src="http://developer.kakao.com/sdk/js/kakao.js"></script>

</head>

<body>
  <!-- top menu -->
  <header class="header-mainpage">
    <iframe width="100%" height="650px" src="https://www.youtube.com/embed/lcU3pruVyUw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen muted autoplay loop></iframe>></iframe>
    <!-- 헤더 컨테이너 -->
    <div class="header_container" id="header">
      <!-- 홈 타이틀 박스 -->
      <div class="title-box">
        <!-- 메인페이지로 가는 버튼 -->
        <a href="./main.html" id="btn-main">
          <h1>CHILI PEPPER</h1>
          <h2>칠리 페퍼</h2>
        </a>
        <div class="logo-img">
          <!-- <img src="./images/chili.png" alt=""> -->
        </div>
      </div>
      <div class="empty"></div>
      <!-- 검색창 박스 -->
      <div class="search-box">
        <input id="search-text" placeholder="지역, 식당 또는 음식" autofocus> <a id="search-btn">검색</a> </input>
      </div>
      <div class="empty"></div>
      <div class="empty"></div>
      <!-- 상단메뉴 컨테이너 -->
      <div class="menu-container">
        <!-- 유저 아이콘 / 프로필 사진 -->
        <div id="btn-icon">
          <div class="not-login-display" id="user-icon"></div>
          <div id="user-profile-btn">
            <img class="login-display" src="" id="user-profile">
          </div>
        </div>
        <!-- 혹시나 추가할 메뉴 넣을 공간 -->
        <div id="menu-box">
          <div id="menu-review"></div>
        </div>
      </div>
    </div>
  </header>

  <!-- 드롭다운 창 -->
  <div class="history-opened">
    <!-- 다른 창 비활성화 -->
    <div class="blacked-window"></div>
    <!-- 최근 검색, 찜목록 창 -->
    <div class="history-container">
      <!-- 탭 리스트 -->
      <ul class="tab-list">
        <li class="tab-item recent-tab">
          <button id="recent-tab-btn">
            최근 검색 목록
            <span class="recent-count"></span>
          </button>
        </li>
        <li class="tab-item wannaGo-tab">
          <button id="wannaGo-tab-btn">찜 목록</button>
        </li>
      </ul>
      <!-- 히스토리 컨텐츠 -->
      <div class="history-contents-container">
        <!-- 검색목록 다 없애기 -->
        <div class="history-contents-header">
          <button class="clear-btn">x clear all</button>
        </div>
        <!-- 식당 정보 템플릿 -->
        <ul class="search-history-list">
          <li class="search-history-item">
            <section class="search-history-item-detail">
              <a href="" class="search-history-num">1.</a>
              <div class="search-history-info-box">
                <a href="" class="search-history-name-wrap">
                  <h3 class="search-history-name">식당이름</h3>
                  <span class="search-history-rating">5</span>
                </a>
                <span class="search-history-desc">내용설명</span>
              </div>

              <button class="wannaGo-btn"></button>
            </section>
          </li>
        </ul>
        <!-- 검색목록 없을 때 화면 -->
        <div id="history-contents-emptyView">
          <span id="recent-empty-text">최근 검색이 없습니다.</span>
        </div>
        <div id="history-contents-emptyWannaGo">
          <span id="wannaGo-empty-text">찜한 목록이 없습니다.</span>
        </div>
      </div>
      <!-- 로그인 및 내정보 버튼 -->
      <footer class="history-footer">
        <div class="not-login-display" id="login-btn">로그인</div>
        <div class="login-display" id="logout-btn" onclick="logoutKakao()">로그아웃</div>
      </footer>
    </div>
  </div>

  <!-- 로그인 팝업 창 -->
  <aside class="login-popup-window">
    <div class="login-popup-container">
      <button id="login-popup-close-btn">X</button>
      <h2 id="login-popup-title">로그인</h2>
      <p id="login-popup-text">로그인 해서 <br> 나만의 찜 목록을 만들어보세요!</p>
      <ul class="login-popup-btn-list">
        <li id="login-popup-btn-item">
          <a href="javascript:loginWithKakao()" id="login-popup-btn-kakao"></a>
        </li>
      </ul>
    </div>
  </aside>
  
  <!-- main contents -->
  <main>
    <!-- 카테고리, 맛집랭킹, 베스트 리뷰 세개를 다 감싸는 박스 -->
    <div class="main-container">

      <!-- 음식추천 단 하나 전체 박스 -->
      <div class="review-container">
        <!-- 음식추천 단 하나 타이틀 -->
        <div class="review-title">
          
          <span id="review-title">오늘은 뭘 먹을까 고민하고 있나요?<br>그런 당신에게<a href="" class="review-num"></a>을(를) 추천할게요</span>
        </div>
        <!-- 음식추천 단 하나 복사해놓을 곳 -->
        <!-- 복제할 템플릿 -->
        <div id="review-template" class="review">
          <div class="review-name"></div>
        </div>
      </div>
      
      <!-- 리뷰게시판으로 넘어갈 수 있는 네비게이션 -->
      <nav class="floating-menu">
        <a href="review_list.html" class="toktok">
          <h3>리뷰 게시판</h3><img src="./images/review.png" class="floating-picture" height="80" width="80">
        </a>
      </nav>
      <!-- 카테고리 전체 박스 -->
      <div class="categ-container">
        <!-- 카테고리 타이틀 -->
        <div class="categ-title"><span id="categ-title">카테고리</span></div>
        <!-- 카테고리 세부내용 -->
        <div class="categ-menu">
          <a id="korean-food" class="thumbnail" ng-click="select-home-category('한식')">
            <!-- 카테고리 세부내용 페이지로 가기 위한 링크(그림) -->
            <img src="./images/bibimbap.png" class="categ-menu-sub-img" />
            <!-- 카테고리 세부내용 페이지로 가기 위한 링크(텍스트) -->
            <div class="categ-menu-sub">한식</div>
          </a>
        </div>
        <!-- 각각의 카테고리 -->
        <div class="categ-menu">
          <a id="japaness-food" class="thumbnail" ng-click="select-home-category('일식')">
            <img src="./images/sushi.png" class="categ-menu-sub-img" />
            <div class="categ-menu-sub">일식</div>
          </a>
        </div>
        <div class="categ-menu">
          <a id="chiness-food" class="thumbnail" ng-click="select-home-category('중국식')">
            <img src="./images/chinese.png" class="categ-menu-sub-img" />
            <div class="categ-menu-sub">중국식</div>
          </a>
        </div>
        <div class="categ-menu">
          <a id="fast-food" class="thumbnail" ng-click="select-home-category('뷔페식')">
            <img src="./images/buffet.png" class="categ-menu-sub-img" />
            <div class="categ-menu-sub">뷔페식</div>
          </a>
        </div>
        <div class="categ-menu">
          <a id="western-food" class="thumbnail" ng-click="select-home-category('경양식')">
            <img src="./images/pasta.png" class="categ-menu-sub-img" />
            <div class="categ-menu-sub">경양식</div>
          </a>
        </div>
        <div class="categ-title"><span id="categ-title"></span></div>
        <!-- ////////////////////////////////////////////////////////////////////////////////////// -->
        <div class="categ-menu">
          <a id="snack" class="thumbnail" ng-click="select-home-category('분식')">
            <img src="./images/bunsik.png" class="categ-menu-sub-img" />
            <div class="categ-menu-sub">분식</div>
          </a>
        </div>
        <div class="categ-menu">
          <a id="sashimi" class="thumbnail" ng-click="select-home-category('회집')">
            <img src="./images/sashimi.png" class="categ-menu-sub-img" />
            <div class="categ-menu-sub">회집</div>
          </a>
        </div>
        <div class="categ-menu">
          <a id="chicken" class="thumbnail" ng-click="select-home-category('호프/통닭')">
            <img src="./images/chicken.png" class="categ-menu-sub-img" />
            <div class="categ-menu-sub">호프/통닭</div>
          </a>
        </div>
        <div class="categ-menu">
          <a id="cafe" class="thumbnail" ng-click="select-home-category('까페')">
            <img src="./images/cafe.png" class="categ-menu-sub-img" />
            <div class="categ-menu-sub">까페</div>
          </a>
        </div>
        <div class="categ-menu">
          <a id="etcetera" class="thumbnail" ng-click="select-home-category('기타')">
            <img src="./images/etcetera.png" class="categ-menu-sub-img" />
            <div class="categ-menu-sub">기타</div>
          </a>
        </div>
      </div>
      <br><br><br><br>
      <!-- 오늘의추천 전체 박스 -->
      <div class="random-container">
        <!-- 오늘의추천 타이틀-->
        <div class="random-title"><span id="random-title">오늘의 식당 추천</span></div>
        <!-- 오늘의추천 1~3순위 -->
        <div class="random-box" id="random-box1">
          <div class="res-image"></div>
          <div class="res-name"></div>
          <div class="res-category"></div>
          <div class="res-mainmenu"></div>
          <div class="res-addr"></div>
        </div>
        <div class="random-box" id="random-box2">
          <div class="res-image"></div>
          <div class="res-name"></div>
          <div class="res-category"></div>
          <div class="res-mainmenu"></div>
          <div class="res-addr"></div>
        </div>
        <div class="random-box" id="random-box3">
          <div class="res-image"></div>
          <div class="res-name"></div>
          <div class="res-category"></div>
          <div class="res-mainmenu"></div>
          <div class="res-addr"></div>
        </div>
      </div>

    </div>

  </main>
  <!-- footer -->
  <footer>
    <div class="footer-container">
      <div class="footer-logo-box">
        <h1>CHILI PEPPER</h1>
        <div class="footer-logo-img">
          <img src="./images/chili_footer_logo.png" alt="">
        </div>
        <h2>칠리 페퍼</h2>
      </div>
      <div class="footer-menu-box">
        <div class="footer-menu-item"><a href="#">회사 소개</a></div>
        <div class="footer-menu-item"><a href="#">서비스 소개</a></div>
        <div class="footer-menu-item"><a href="#">광고 문의</a></div>
        <div class="footer-menu-item"><a href="#">제휴카드</a></div>
        <div class="footer-menu-item"><a href="#">개인정보취급방침</a></div>
        <div class="footer-menu-item"><a href="#">이용약관</a></div>
        <div class="footer-menu-item"><a href="#">도움말</a></div>
        <div class="footer-menu-item"><a href="#">공지사항</a></div>
      </div>
      <div class="company-info">
        <p>
          대표자 <strong>이성재</strong> <strong>이민주</strong> <strong>이소윤</strong> <strong>윤석훈</strong> <br>
          email: chili.pepper.co@gmail.com <br>
          tel: 00-0000-0000
        </p>
      </div>
    </div>
  </footer>
  <script src="./scripts/cookies.js"></script>
  <script src="./scripts/main.js"></script>
  <script src="./scripts/header.js"></script>
  <!-- <script src="./scripts/main.js"></script> -->
</body>

</html>