<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main Page</title>
  <link rel="stylesheet" href="./styles/main.css">
  <link rel="stylesheet" href="./styles/header.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
  <script src="http://developer.kakao.com/sdk/js/kakao.js"></script>

</head>

<body>

  <!-- top menu -->
  <header>
    <!-- 헤더 컨테이너 -->
    <div class="header_container">
      <!-- 홈 타이틀 박스 -->
      <div class="title-box">
        <!-- 메인페이지로 가는 버튼 -->
        <a href="http://127.0.0.1:5500/main.html" id="btn-main">
          <h1>CHILI PEPPER</h1>
          <h2>칠리 페퍼</h2>
        </a>
        <div class="logo-img"><img src="./images/chili.png" alt=""></div>
      </div>
      <div class="empty"></div>
      <!-- 검색창 박스 -->
      <div class="search-box">
        <input id="search-text" placeholder="지역, 식당 또는 음식"> <span>검색</span> </input>
      </div>
      <div class="empty"></div>
      <!-- 상단메뉴 컨테이너 -->
      <div class="menu-container">
        <!-- 유저 아이콘 / 프로필 사진 -->
        <div id="btn-icon">
          <div class="not-login-display" id="user-icon"></div>
          <div id="user-profile-btn" >
            <img class="login-display" src="" id="user-profile">
          </div>
        </div>
        <!-- 혹시나 추가할 메뉴 넣을 공간 -->
        <div id="menu-box">
          <div id="menu-review"></div>
        </div>
      </div>
    </div>
  </header>

  <!-- 드롭다운 창 -->
  <div class="history-opened">
    <!-- 다른 창 비활성화 -->
    <div class="blacked-window"></div>
    <!-- 최근 검색, 찜목록 창 -->
    <div class="history-container">
      <!-- 탭 리스트 -->
      <ul class="tab-list">
        <li class="tab-item recent-tab">
          <button id="recent-tab-btn">
            최근 본 맛집
            <span class="recent-count"></span>
          </button>
        </li>
        <li class="tab-item wannaGo-tab">
          <button id="wannaGo-tab-btn">찜 목록</button>
        </li>
      </ul>
      <!-- 히스토리 컨텐츠 -->
      <div class="history-contents-container">
        <!-- 검색목록 다 없애기 -->
        <div class="history-contents-header">
          <button class="clear-btn">x clear all</button>
        </div>
        <!-- 식당 정보 템플릿 -->
        <ul class="restaurant-list">
          <li class="restaurant-item">
            <section class="restaurant-item-detail">
              <a href="" class="restaurant-img-wrap">
                <div class="restaurant-img">식당사진</div>
              </a>
              <div class="restaurant-info-box">
                <a href="" class="restaurant-name-wrap">
                  <h3 class="restaurant-name">식당이름</h3>
                  <span class="restaurant-rating">5</span>
                </a>
                <span class="restaurant-desc">내용설명</span>
              </div>

              <button class="wannaGo-btn"></button>
            </section>
          </li>
        </ul>
        <!-- 검색목록 없을 때 화면 -->
        <div id="history-contents-emptyView">
          <span id="recent-empty-text">최근 검색이 없습니다.</span>
        </div>
        <div id="history-contents-emptyWannaGo">
          <span id="wannaGo-empty-text">찜한 목록이 없습니다.</span>
        </div>
      </div>
      <!-- 로그인 및 내정보 버튼 -->
      <footer class="history-footer">
        <div class="not-login-display" id="login-btn">로그인</div>
        <div class="login-display" id="logout-btn" onclick="logoutKakao()">로그아웃</div>
      </footer>
    </div>
  </div>

  <!-- 로그인 팝업 창 -->
  <aside class="login-popup-window">
    <div class="login-popup-container">
      <button id="login-popup-close-btn">X</button>
      <h2 id="login-popup-title">로그인</h2>
      <p id="login-popup-text">로그인 해서 <br> 나만의 찜 목록을 만들어보세요!</p>
      <ul class="login-popup-btn-list">
        <li id="login-popup-btn-item">
          <a href="javascript:loginWithKakao()" id="login-popup-btn-kakao"></a>
        </li>
      </ul>
    </div>
  </aside>

  <!-- main contents -->
  <main>
    <!-- 카테고리, 맛집랭킹, 베스트 리뷰 세개를 다 감싸는 박스 -->
    <div class="main-container">
      <!-- 카테고리 전체 박스 -->
      <div class="categ-container">
        <!-- 카테고리 타이틀 -->
        <div class="categ-title"><span id="categ-title">카테고리</span></div>
        <!-- 카테고리 세부내용 -->
        <div class="categ-menu">
          <!-- 카테고리 세부내용 페이지로 가기 위한 링크(텍스트) -->
          <a href="" class="thumbnail" ng-click="select-home-category('한식')">
            <div class="categ-menu-sub">한식
              <!-- 카테고리 세부내용 페이지로 가기 위한 링크(그림) -->
              <img src="./images/bibimbap.png" class="categ-menu-sub-img" />
          </a>
        </div>
      </div>
      <div class="categ-menu">
        <a href="" class="thumbnail" ng-click="select-home-category('일식')">
          <div class="categ-menu-sub">일식
            <img src="./images/sushi.png" class="categ-menu-sub-img" />
        </a>
      </div>
    </div>
    <div class="categ-menu">
      <a href="" class="thumbnail" ng-click="select-home-category('중식')">
        <div class="categ-menu-sub">중식
          <img src="./images/chinese.png" class="categ-menu-sub-img" />
      </a>
    </div>
    </div>
    <div class="categ-menu">
      <a href="" class="thumbnail" ng-click="select-home-category('양식')">
        <div class="categ-menu-sub">양식
          <img src="./images/pizza.png" class="categ-menu-sub-img" />
      </a>
    </div>
    </div>
    <div class="categ-menu">
      <a href="" class="thumbnail" ng-click="select-home-category('간편식')">
        <div class="categ-menu-sub">간편식
          <img src="./images/sandwich.png" class="categ-menu-sub-img" />
      </a>
    </div>
    </div>
    </div>
    <!-- 맛집랭킹 전체 박스 -->
    <div class="rank-container">
      <!-- 맛집랭킹 타이틀-->
      <div class="rank-title"><span id="rank-title">맛집 랭킹</span></div>
      <!-- 맛집랭킹 1~3순위.. div로만 걸어놓고 JS로 API 걸면 되려나? -->
      <!-- 순위 구역 좀 더 나눠주고 inlineblock이나 grid로 3등분하기 -->
      <div class="rank-num num1"></div>
      <div class="rank-num num2"></div>
      <div class="rank-num num3"></div>
    </div>
    <!-- 베스트리뷰 전체 박스 -->
    <div class="review-container">
      <!-- 베스트 리뷰 타이틀 -->
      <div class="review-title">
        <span id="review-title">베스트 리뷰</span>
      </div>
      <!-- 베스트 리뷰 1~3 순위 -->
      <div class="review-num num1"></div>
      <div class="review-num num2"></div>
      <div class="review-num num3"></div>
    </div>
    </div>
  </main>
  <!-- footer -->
  <footer>
    <div class="footer-container">
      <div class="footer-logo-box">
        <h1>CHILI PEPPER</h1>
        <div class="footer-logo-img"><img src="./images/chili_footer_logo.png" alt=""></div>
        <h2>칠리 페퍼</h2>
      </div>
      <div class="footer-menu-box">
        <div class="footer-menu-item"><a href="#">회사 소개</a></div>
        <div class="footer-menu-item"><a href="#">서비스 소개</a></div>
        <div class="footer-menu-item"><a href="#">광고 문의</a></div>
        <div class="footer-menu-item"><a href="#">제휴카드</a></div>
        <div class="footer-menu-item"><a href="#">개인정보취급방침</a></div>
        <div class="footer-menu-item"><a href="#">이용약관</a></div>
        <div class="footer-menu-item"><a href="#">도움말</a></div>
        <div class="footer-menu-item"><a href="#">공지사항</a></div>
      </div>
      <div class="company-info">
        <p>
          대표자 <strong>이성재</strong> <strong>이민주</strong> <strong>이소윤</strong> <strong>윤석훈</strong> <br>
          email: chili.pepper.co@gmail.com <br>
          tel: 00-0000-0000
        </p>
      </div>
    </div>
  </footer>
  <script src="./scripts/header.js"></script>
  <script src="./scripts/main.js"></script>
</body>

</html>