<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Page</title>
    <link rel="stylesheet" href="/이성재/main.css" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- top menu -->
    <header>
      <!-- 라인마다 주석 달기 -->
      <div class="header_container"></div>
    </header>
    <!-- main contents -->
    <main>
      <!-- 카테고리, 맛집랭킹, 베스트 리뷰 세개를 다 감싸는 박스 -->
      <div class="main-container">
        <!-- 카테고리 전체 박스 -->
        <div class="categ-container">
          <!-- 카테고리 타이틀 -->
          <div class="categ-title"><span id="categ-title">카테고리</span></div>
          <!-- 카테고리 세부내용 -->
          <div class="categ-menu">
            <!-- 카테고리 세부내용 페이지로 가기 위한 링크(텍스트) -->
            <a href="" class="thumbnail" ng-click="select-home-category('한식')"><div class="categ-menu-sub">한식
              <!-- 카테고리 세부내용 페이지로 가기 위한 링크(그림) -->
              <img
                src="/이성재/img/bibimbap.png"
                class="categ-menu-sub-img"
              />
            </a>
          </div>
          </div>
          <div class="categ-menu">
            <a href="" class="thumbnail" ng-click="select-home-category('일식')"
              ><div class="categ-menu-sub">일식
              <img
                src="/이성재/img/sushi.png"
                class="categ-menu-sub-img"
              />
            </a>
          </div>
          </div>
          <div class="categ-menu">
            <a href="" class="thumbnail" ng-click="select-home-category('중식')"
              ><div class="categ-menu-sub">중식
              <img
                src="/이성재/img/chinese.png"
                class="categ-menu-sub-img"
              />
            </a>
          </div>
          </div>
          <div class="categ-menu">
            <a href="" class="thumbnail" ng-click="select-home-category('양식')"
              ><div class="categ-menu-sub">양식
              <img
                src="/이성재/img/pizza.png"
                class="categ-menu-sub-img"
              />
            </a>
          </div>
          </div>
          <div class="categ-menu">
            <a
              href=""
              class="thumbnail"
              ng-click="select-home-category('간편식')"
              ><div class="categ-menu-sub">간편식
              <img
                src="/이성재/img/sandwich.png"
                class="categ-menu-sub-img"
              />
            </a>
          </div>
          </div>
        </div>
        <!-- 맛집랭킹 전체 박스 -->
        <div class="rank-container">
          <!-- 맛집랭킹 타이틀-->
          <div class="rank-title"><span id="rank-title">맛집 랭킹</span></div>
          <!-- 맛집랭킹 1~3순위.. div로만 걸어놓고 JS로 API 걸면 되려나? -->
          <!-- 순위 구역 좀 더 나눠주고 inlineblock이나 grid로 3등분하기 -->
          <div class="rank-num num1"></div>
          <div class="rank-num num2"></div>
          <div class="rank-num num3"></div>
        </div>
        <!-- 베스트리뷰 전체 박스 -->
        <div class="review-container">
          <!-- 베스트 리뷰 타이틀 -->
          <div class="review-title">
            <span id="review-title">베스트 리뷰</span>
          </div>
          <!-- 베스트 리뷰 1~3 순위.. 위와 다른 방식? -->
          <div class="review-num num1"></div>
          <div class="review-num num2"></div>
          <div class="review-num num3"></div>
        </div>
      </div>
    </main>
    <!-- footer -->
    <footer></footer>
    <script src="../이성재/main.js"></script>
  </body>
</html>
