* {
  font-size: 16px;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
/* 메인 컨텐츠 전체 */
main {
  width: 100%;
  padding: 0;
  margin: 1rem 1rem;
  background-color: #fff;
}
/* 메인 컨테이너 */
.main-container {
  width: 100%;
  height: 60rem;
  padding: 1rem;
  /* 추후 border는 모두 삭제 예정(현재 구분용) */
  border: 3px solid red;
  margin: 1rem 1rem;
}
/* 카테고리를 감싸는 큰 박스 */
.categ-container {
  width: 100%;
  height: 7rem;
  padding: 1rem 1rem;
  border: 1px solid red;
  margin: 1rem 1rem;
  display: grid;
  grid-template-columns: 17% 1fr 1fr 1fr 1fr 1fr;
}
/* 카테고리 타이틀 */
#categ-title {
  position: relative;
  float: left;
  padding-right: 5rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 2.5rem;
}
/* 카테고리 메뉴 */
.categ-menu {
  float: left;
  padding-right: 1rem;
  margin: 0;
  line-height: 2rem;
}
/* 카테고리 선택 글씨&이미지 박스 */
.thumbnail {
  display: flex;
  font-size: 1.3rem;
  flex-direction: column;
}
/* 카테고리 세부선택 글 */
.categ-menu-sub {
  font-size: inherit;
}
/* 카테고리 세부선택 이미지 */
.categ-menu-sub-img {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  margin-left: 1rem;
}
/* 맛집랭킹 전체를 감싸는 큰 박스 */
.rank-container {
  width: 100%;
  height: 20rem;
  padding: 1rem 1rem;
  border: 1px solid red;
  margin: 1rem 1rem;
  display: grid;
  grid-template-columns: 15% 1fr 1fr 1fr;
  grid-gap: 1rem;
}
/* 맛집랭킹 타이틀 */
#rank-title {
  font-size: 1.5rem;
  font-weight: bold;
}
/* 맛집랭킹 순위 */
.rank-num {
  display: inline-block;
  padding: 1rem 1rem;
}
/* 베스트 리뷰 전체를 감싸는 큰 박스*/
.review-container {
  width: 100%;
  height: 20rem;
  padding: 1rem 1rem;
  border: 1px solid red;
  margin: 1rem 1rem;
  display: grid;
  grid-template-columns: 15% 1fr 1fr 1fr;
  grid-gap: 1rem;
}
/* 베스트 리뷰 타이틀 */
#review-title {
  font-size: 1.5rem;
  font-weight: bold;
}
/* 베스트 리뷰 리스트 */
.review-num {
  display: inline-block;
  padding: 1rem 1rem;
}
