* {
  font-size: 16px;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
li{
  list-style: none;
}
button, input{
  border: none;
  background-color: transparent;
}
a:hover, button:hover{
  cursor: pointer;
}
input:focus, textarea:focus, select:focus{
  /* input, textarea, select 선택시 아웃라인 제거 */
  outline: none;
}
/******************/
/***** header *****/
/******************/
/* 스크롤 다운시 상단 메뉴바가 잘보이게! */
#header.inverted{
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid #dbdbdb;
}
header{
  padding: 0;
  height: 40rem;
  background-color: #fff;
  /* background-image: url(../images/header-bg.jpg); */
  background-size: contain;
  z-index: 100;
}
/* 비디오 */
.imgGif{
  width: 100%;
  height: 650px;
  object-fit: cover;
}
/* 헤더 컨테이너 */
.header_container{
  position: fixed;
  top: 0;
  width: 100%;
  height: 8rem;
  display: grid;
  grid-template-columns: 2fr 1fr auto 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  padding: 0.25rem;
  z-index: 101;
}
/* 홈 타이틀 박스 */
.title-box{
  display: flex;
  justify-content: center;
  height: 4rem;
  text-align: center;
}
#btn-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#btn-main>h1{
  width: 10rem;
  margin-top: 0.5rem;
  height: 1.75rem;
  font-size: 1.5rem;
  color: orange;
  text-shadow: 1px 1px 1px #dbdbdb;
}
#btn-main>h2{
  height: 1.25rem;
  font-size: 1rem;
  color: orange;
  text-shadow: 1px 1px 1px #dbdbdb;
}
.logo-img>img{
  width: 3.5rem;
}
/* 검색창 박스 */
.search-box{
  padding: 0;
  width: 35rem;
  height: 3rem;
  border: 3px solid orange;
  background: whitesmoke;
  border-radius: 30px;
  text-align: center;
  line-height: 3rem;
}
#search-text{
  vertical-align: middle;
  border: none;
  width: 25rem;
  font-size: 1.5rem;
  height: 2rem;
  cursor: auto;
}
#search-btn{
  float: right;
  background-color: orange;
  width: 5rem;
  border-radius: 30px;
  box-shadow: 0 0 0 2px orange;
  color: #fff;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 3rem;
  margin: 0;
}
/* 드롭다운 창으로 가는 버튼 */
#user-icon{
  /* display: none; */
  border: none;
  background-color: transparent;
  width: 3rem;
  height: 3rem;
  background-image: url(../images/user.png);
  background-color: #fff;
  border-radius: 50%;
  background-size: cover;
  margin: auto;
}
#user-profile{
  display: none;
}
#user-icon:hover, #user-profile-btn:hover{
  cursor: pointer;
}

#user-profile{
  width: 3rem;
  height: 3rem;
  border: 2px solid orange;
  border-radius: 50%;
  margin: auto;
  display: none;
}

/**********************/
/***** 드롭다운 창 *****/
/**********************/
.history-opened{
  display: none;
}

.blacked-window{
  position: fixed;
  top: 0%;
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  z-index: 1100;
  display: none;
}
/* 히스토리 컨테이너 */
.history-container{
  position: absolute;
  top: 7rem;
  right: 5rem;
  width: 20rem;
  height: 32rem;
  border: 1px solid #dbdbdb;
  border-radius: 1rem;
  background-color: #fff;
  display: flex;
  flex: 1 auto 1;
  flex-direction: column;
  z-index: 1200;
  overflow-y: auto;
}
  /* 탭 부분 및 히스토리 헤더 */
.tab-list{
  display: flex;
  height: 3rem;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:center;
}
.tab-item>button:hover{
  font-weight:bolder;
  cursor: pointer;
}
.tab-item>button{
  display: inline-block;
  width: 10rem;
  border: none;
  border-bottom: 1px solid #dbdbdb;
  background-color: #fff;
  color: #333;
  line-height: 3rem;
  text-align: center;
  font-size: 1rem;
}
#history-contents-emptyView, #history-contents-emptyWannaGo{
  position: relative;
  top: 10rem;
  text-align: center;
  align-items: center;
}
#history-contents-emptyWannaGo{
  display: none;
}
.history-contents-container{
  height: 26rem;
}
.history-contents-header{
  margin: 0.5rem 1rem 0 1rem ;
  display: flex;
  justify-content: flex-end;
}
.clear-btn{
  border: none;
  background-color: transparent;
  color: #bbb;
}
  /* 히스토리 컨텐츠 부분 */
.search-history-list{
  /* default로 숨겨둠 */
  display: none;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 0.5rem;
}
.search-history-item{
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
}
#search-history-template{
  display: none;
}
.search-history-detail{
  display: flex;
  flex-direction: column;
  color: #888;
  font-size: 1rem;
}
.search-history-name{
  color: #333;
  font-weight: bold;
  font-size: 1.5rem;
}
.search-history-desc{
  color: #555;
  font-size: 0.75rem;
}
.wannaGo-btn{
  border: none;
  background-color: transparent;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(../images/star_empty.png);
  background-size: cover;
  justify-content: right;
}

  /* 히스토리 footer 부분 */
.history-footer{
  height: 2rem;
  bottom: 0;
  padding: 0.5rem 1rem;
  border-top: 1px solid #dbdbdb;
  text-align: center;
}
.history-footer>button{
  border: none;
  background-color: transparent;
  line-height: 2rem;;
}
.history-footer>#login-btn{
  text-align: center;
  margin: auto;
  padding: 0.2rem;
  width: 13rem;
  border: 2px solid orange;
  border-radius: 30px;
}
.history-footer>#logout-btn{
  /* default로 숨겨둠 */
  float: right;
  display: none;
}
#login-btn:hover, #logout-btn:hover{
  cursor: pointer;
}

/* 클릭 효과, js에서 바꾸기 */
.wannaGo-btn:hover{
  animation: wannaGoClickEffect 1.7s ease-in-out;
  animation-iteration-count:infinite;
}
@keyframes wannaGoClickEffect {
  50%{
    transform: scale(1.1);
      background-image: url(../images/star_yellow.png);
  }
}

/******************************/
/***** login popup window *****/
/******************************/
.login-popup-window{
  z-index: 1300;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;  
  background-color: rgba(0,0,0,0.6);
  display: none;
  align-items: center;
}
.login-popup-container{
  margin: auto;
  top: 25%;
  position: relative;
  background-color: #fff;
  width: 16rem;
  height: 18.5rem;
  padding: 7rem 3rem;
  text-align: center;
  border-radius: 30px;
}
#login-popup-close-btn{
  border: none;
  background-color: transparent;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
#login-popup-title{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
#login-popup-text{
  margin-bottom: 3rem;
  font-size: 1rem;
}
#login-popup-btn-kakao{
  display: inline-block;
  width: 183px;
  height: 45px;
  background-image: url(../images/kakao_login_medium_narrow.png);
  background-size: cover;
  border-radius: 30px;
}

/******************/
/***** footer *****/
/******************/
/* logo-box */
.footer-container{
  top: 5rem;
  position: relative;
  padding: 1rem 1rem;
  padding-bottom: 2rem;
  border-top: 2px solid #dbdbdb;
  color: #555;
}
.footer-logo-box>h1, .footer-logo-box>h2, .footer-logo-box>div{
  display: inline-block;
}
.footer-logo-img>img{
  width: 1rem;
}
.footer-menu-box{
  display: flex;
  justify-content: flex-start;
  flex-basis: content;
  list-style: none;
}
.footer-menu-item>a{
  padding-right: 0.5rem;
  margin-right: 0.5rem;
  border-right: 1px solid #555;
  color: #555;
}