/*****************/
/***** main  *****/
/*****************/
/* 메인 컨텐츠 전체 */
main {
  padding: 0;
  position: relative;
  margin: 0;
  background-color: #fff;
}
/* 메인 컨테이너 */
.main-container {
  height: 55rem;
  padding: 1rem;
  /* 추후 border는 모두 삭제 예정(현재 구분용) */
  /* border: 3px solid red; */
  /* margin: 1rem 1rem; */
  /* overflow: auto; */
}
/* 리뷰게시판 네비게이션 틀 */
.floating-menu {
  font-size: 1rem;
  background: none;
  border-radius: 10px;
  padding: 5px;
  width: auto;
  z-index: 100;
  position: fixed;
  right: 20px;
  bottom: 100px;
  opacity: 0.95;
}
/* 리뷰게시판 네비게이션 이미지 */
.toktok{
  text-align: center;
}
/* 리뷰게시판 네비게이션 내부 글 */
.floating-menu a, 
.floating-menu h3 {
  font-size: 1.2em;
  display: block;
  margin: 0;
  color: orange;
}
/* 카테고리를 감싸는 큰 박스 */
.categ-container {
  height: 7rem;
  padding: 1rem 1rem;
  /* border: 1px solid red; */
  margin: 1rem 1rem;
  display: grid;
  grid-template-columns: 17% 1fr 1fr 1fr 1fr 1fr;
}
/* 카테고리 타이틀 */
#categ-title {
  position: relative;
  float: left;
  width: 7rem;
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 2.5rem;;
  font-size: 1.7rem;
  font-weight: bold;
}
/* 카테고리 메뉴 */
.categ-menu {
  float: left;
  padding-right: 1rem;
  margin: 0;
  line-height: 2rem;
}
/* 카테고리 선택 글씨&이미지 박스 */
.thumbnail {
  display: flex;
  font-size: 1.3rem;
  flex-direction: column;
  margin-bottom: 0.5rem;
}
/* 카테고리 세부선택 글 */
.categ-menu-sub {
  font-size: inherit;
  margin-left: 0.6rem;
  margin-bottom: 1.5rem;
}
/* 카테고리 세부선택 이미지 */
.categ-menu-sub-img {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  margin-bottom: 0.3rem;
}
/* 오늘의추천 전체를 감싸는 큰 박스 */
.random-container {
  height: 20rem;
  padding: 1rem 1rem;
  /* border: 1px solid red; */
  margin: 5rem 1rem;
  display: grid;
  grid-template-columns: 15% 1fr 1fr 1fr;
  grid-gap: 1rem;
}
/* 오늘의추천 타이틀 */
#random-title {
  font-size: 1.7rem;
  font-weight: bold;
}
/* 오늘의추천 순위 */
.random-box {
  display: inline-block;
  padding: 0;
  line-height: 2.5rem;
  /* border: 1px solid orangered; */
}
.res-image{
  width: 6rem;
  height: 4rem;
  margin-bottom: 1rem;
}
.res-name{
  font-size: 2.1rem;
  font-weight: bold;
}
.res-mainmenu{
  font-size: 1.6rem;
}
.res-category{
  font-size: 1.2rem;
}
.res-addr{
  font-size: 1.2rem;
  line-height: 1.8rem;
}
/* 추천메뉴 전체를 감싸는 큰 박스*/
.review-container {
  /* width: 100%; */
  height: 18rem;
  padding: 1rem 1rem;
  border: none;
  margin: 1rem 1rem;
  display: grid;
}
.review-title{
  text-align: center;
}
/* 추천메뉴 타이틀 */
#review-title {
  font-size: 1.5rem;
  font-weight: bold;
}
/* 추천메뉴 리스트 */
#review-num {
  display: inline-block;
  padding: 1rem 1rem;
  font-size: 3rem;
  font-weight: bold;
}
/* 추천메뉴 이름 */
.review-name{
  font-size: 3rem;
  font-weight: bold;
  color: orange;
}
